.btn {
  padding: 0.5rem 1rem;
  color: #fff;
  letter-spacing: 1px;
  border: none;
  border-radius: 0.5rem;
  transition: all 0.2s;
  font-size: 0.8rem;
  cursor: pointer;
}

.btn--small {
  padding: 0.5rem;
  font-size: 0.5rem;
  border-radius: 0.2rem;
  width: 100%;
  align-self: center;
}

.btn:not(.btn--active):hover {
  transform: translateY(-2px);
}

.btn.btn--red {
  background-color: #990000;
}

.btn.btn--green,
.btn.btn--active {
  background-color: #009900;
}

.btn.btn--active {
  pointer-events: none;
}

.btn.btn--blue {
  background-color: #000099;
}

.btn.btn--purple {
  background-color: #990099;
}

.btn.btn--inactive {
  background-color: #999999;
}
