.cars__car-list-footer {
  border-top: 0.5px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.cars__pagination {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cars__no-car {
  width: 100%;
  text-align: center;
  padding: 2rem;
  font-size: 1.6rem;
  font-style: italic;
}
