@import url("https://fonts.googleapis.com/css2?family=Jersey+15&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

header,
section {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background-color: #000;
  border: 0.2rem solid #fff;
  border-bottom: none;
}
